[user]
	name = Keith
	email = keithkreissl@gmail.com
[push]
	default = simple
[credential]
	helper = osxkeychain
[alias]
	lg = log --graph --pretty=format:'%C(yellow)%h%Cred -%C(auto)%d%Creset %s %Cgreen(%cr) %C(cyan)<%an>%Creset' --decorate --abbrev-commit --date=relative
